.header {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: none;

  &::after {
    content: '';
    position: absolute;
    top: -2em;
    right: -2em;
    bottom: -2em;
    left: -2em;
    background: linear-gradient(rgba(black, .15), rgba(black, .15)), url('/assets/images/cover.jpg') no-repeat $grey;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    -webkit-filter: brightness(1.2) blur(5px);
    -moz-filter: brightness(1.2) blur(5px);
    filter: brightness(1.2) blur(5px);
  }

  @include respond-to('medium') {
    display: block;
  }
}

.header__title {
  font-size: 3.5em;
  text-transform: uppercase;
  padding: 4em 1em;
  margin: 0;
  color: white;

  span {
    display: block;
  }
}