.main {
  background: white;
}

.section {
  overflow: hidden;
  padding: 2em 0;
  border-bottom: 1px solid silver;
}

.section__heading {
  font-size: 2em;
}

.section__image {
  margin-bottom: 1em;

  @include respond-to('medium') {
    float: left;
    max-width: 50%;
    margin-right: 2em;

    .section:nth-of-type(even) & {
      float: right;
      margin-right: 0;
      margin-left: 2em;
    }
  }
}

.section__body {
  text-align: justify;
}

.avatars {
  position: relative;
  height: 20em;

  @include respond-to("medium") {
    width: 50%;
  }
}

.avatar {
  position: absolute;
  border-radius: 50%;
  border: .3em solid rgba(100, 0, 0, .5);
  left: 0;
  top: 0;
  -webkit-filter: sepia(1) hue-rotate(-40deg);
  -moz-filter: sepia(1) hue-rotate(-40deg);
  filter: sepia(1) hue-rotate(-40deg);
  transition: 3s;

  @include on-event {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    transition: .25s;
  }
}


.avatar--coyier {
  max-width: 8em;
  top: 11em;

  left: 50%;
  margin-left: -16em;
}

.avatar--goetter {
  max-width: 13em;
  left: 50%;
  top: 6em;
}

.avatar--giraudel {
  max-width: 18em;

  left: 50%;
  margin-left: -12em;
}