.main {
  background: white;
}

.section {
  overflow: hidden;
  padding: 2em 0;
  border-bottom: 1px solid silver;
}

.section__heading {
  font-size: 2em;
}

.section__image {
  margin-bottom: 1em;

  @include respond-to('medium') {
    float: left;
    max-width: 50%;
    margin-right: 2em;

    .section:nth-of-type(even) & {
      float: right;
      margin-right: 0;
      margin-left: 2em;
    }
  }
}

.section__body {
  text-align: justify;
}

.avatars {
  position: relative;
  min-height: 22.5em;

  @include respond-to('medium') {
    width: 50%;
  }
}

.avatar {
  border-radius: 50%;
  border: .3em solid rgba(100, 0, 0, .5);
  -webkit-filter: sepia(1) hue-rotate(-40deg);
  -moz-filter: sepia(1) hue-rotate(-40deg);
  filter: sepia(1) hue-rotate(-40deg);
  margin: 0 auto 1em;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;

  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      transform: rotate((-90deg + 360deg / 3 * $i)) translateX(130px) rotate((90deg + -360deg / 3 * $i));
    }
  }

  @include on-event {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    transition: .25s;
  }

}
