html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  color: $black;
  line-height: 1.35;
  font-size: 1.2em;
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: $blue;
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}

img {
  height: auto;
  max-width: 100%;
  display: block;

  @media (max-width: 767px) {
    max-width: 100% !important;
  }
}